.cvi-GeoSearch {
  width: 100%;
  height: 100%;
  position: relative;

  &-map {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &-label {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }

  &-control {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    top: 0px;
    display: flex;
    height: 40px;
    width: 290px;
    border-radius: 23px;
    background-color: #fff;
    box-shadow: $input-box-shadow;
    justify-content: center;
  }

  &-redo {
    border-radius: 50px;
    padding: 10px;
    background-color: $accent-color;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
  }
}
