.cvi-Location {
  width: 100%;
  &-input {
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.16px;
    line-height: 20px;
    border-radius: 8px;
    background-color: #fff;
    outline-color: $accent-color;
    padding-left: 10px;
    border: none;
    box-shadow: $input-box-shadow;
    clip-path: inset(-10px -10px -10px -1px);
    outline: none;
    padding-top: 14px;
    position: relative;

    @include breakpoint(sm) {
      border-radius: 0px 8px 8px 0px;
    }
  }

  &-submit {
    margin-right: 10px;
    height: 38px;
    width: 52px;
    border-radius: 8px;
    background-color: $accent-color;
    color: #fff;
    outline: none;
    border: none;
    position: absolute;
    top: 5px;
    right: -3px;
    cursor: pointer;

    & svg {
      fill: #fff;
      height: 17px !important;
      width: 17px !important;
    }
  }

  &-suggestion {
    padding: 5px 12px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    &-list {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #fff;
      box-shadow: $card-box-shadow;
      width: 100%;
      border-radius: 8px;
      margin-top: 5px;
      z-index: 2;
    }
  }

  &.with-error {
    & .cvi-Location-input {
      border: 1px solid $error-color;
    }
  }
}

.cvi-Location-clear {
  display: none;
}

.example-location {
  position: relative;
  display: inline-block;
  margin-top: 10px !important;

  @include breakpoint(sm) {
    padding: 0px !important;
    margin-top: 0px !important;
  }
}


/* Override for search in search page header */
.search-header {
  .cvi-Location {
    &-input {
      height: 38px;
      font-size: 13px;
    }

    &-submit {
      height: 28px;

      & svg {
        height: 12px !important;
        width: 12px !important;
      }
    }
  }

  .example-location {
    margin-top: -5px !important;
    margin-bottom: -5px;
  }
}
