.default-header {
  position: sticky;
  top: 0;
  z-index: 10;

  &__logo {
    height: 30px;
  }

  &__language-change {
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
}

.search-header {
  &__logo {
    height: 30px;
  }

  &__language-change {
    font-weight: 600;
    cursor: pointer;
  }
}
